#menu {
    animation-name: menu;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-size: 20px;
}

.btn-img {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.btn-img:hover {
    background-color: rgba(255,255,255,0.1);
}

.menu-item {
    margin: 0 0;
}

#join {
    margin: 125px;
    border-radius: 10px;
    border: 10px solid rgba(0,0,0,0.1);
    font-size: 25px;
}

#jumbo {
    font-size: 30px;
    animation-name: menu;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#header {
    background: linear-gradient(90deg, #333, #444, #333);
    font-size: 20px;
}

.black-field {
    background: #666;
    padding: 0px;
    border: none;
    margin: 0px;
    border-radius: 0px;
}

.black-field.trace.win {
    background: rgb(27, 136, 0);
}

.black-field.trace {
    background: rgb(136, 0, 0);
}

.black-field:hover {
    background: #3a5108;
    border: 2px solid #558c02;
    animation: select 1s infinite;
}

.black-field.occupied:hover {
    background: #512323;
    border: 2px solid #410101;
}

.wait .black-field:hover {
    background: #555;
    border: 2px solid #333;
    animation: select 2s infinite;
}

.wait .black-field.occupied:hover {
    background: rgb(105, 66, 30);
    border: 2px solid rgb(73, 48, 10);
}

#black-pawn {
    background-image: url('black-pawn.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.white-field {
    background: #888;
    padding: 0px;
    border: none;
    margin: 0px;
    border-radius: 0px;
}

.white-field.trace.win {
    background: rgb(27, 136, 0);
}

.white-field.trace {
    background: rgb(136, 0, 0);
}

.white-field:hover {
    background: #50752e;
    border: 2px solid #71af13;
    animation: select 1s infinite;
}

.white-field.occupied:hover {
    background: #7a3737;
    border: 2px solid #410101;
}

.wait .white-field:hover {
    background: #777;
    border: 2px solid #555;
    animation: select 2s infinite;
}

.wait .white-field.occupied:hover {
    background: rgb(128, 87, 61);
    border: 2px solid rgb(107, 67, 29);
}

#white-pawn {
    background-image: url('white-pawn.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes select {
    0% {
        border-width: 2px;
    }
    50% {
        border-width: 5px;
    }
    100% {
        border-width: 2px;
    }
}

@keyframes menu {
    0% {
       background-color: rgb(80,30,30); 
    }
    16% {
        background-color: rgb(80,80,30); 
    }
    32% {
        background-color: rgb(30,80,30); 
    }
    48% {
        background-color: rgb(30,80,80); 
    }
    64% {
        background-color: rgb(30,80,80);
    }
    80% {
        background-color: rgb(30,30,80); 
    }
    96% {
        background-color: rgb(80,30,80); 
    }
    100% {
        background-color: rgb(80,30,30); 
    }
}